{% extends "layout.html" %}
{% block content %}
<a href="game/new"><button type="submit" class="btn btn-danger">Create New Game</button>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Game Number</th>
        <th scope="col">Game Length</th>

    </tr>
    </thead>
    <tbody>
    {% for game in games %}
    <tr>
        <td><a href="view/{{game.Game_Number}}">{{ game.Game_Number }}</a></td>
        <td>{{ game.Game_Length }}</td>


    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}